@model podil.ViewModels.UserPhotosViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var photosFolderPath = podil.Helpers.FileHandler.PhotosFolderPath;
}

<h2>Welcome, @Model.ApplicationUser.FirstName @Model.ApplicationUser.LastName</h2>
@Html.ActionLink("Upload New", "New", "Photos", null, new { @class = "btn btn-primary" })

@if (Model.Photos.Count() < 1)
{
    <p>You do not have any photos.</p>
}
else
{
    <div class="py-5 bg-light">
        <div class="container">
            <div class="row">
                @foreach (var photo in Model.Photos)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <a href="@Url.Action("Show", "Photos", new { id = photo.Id })">
                                <img class="card-img-top" src="@Url.Content(photosFolderPath + photo.FileName)"
                                     alt="First Photo">
                            </a>
                            <div class="card-body">
                                <p class="card-text">@photo.CategoryType.Category</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        @Html.ActionLink("Edit", "Edit", "Photos",
                                            new { id = photo.Id }, new { @class = "btn btn-sm btn-outline-info" })
                                        @Html.ActionLink("Delete", "Delete", "Photos",
                                            new { id = photo.Id }, new { @class = "btn btn-sm btn-outline-danger" })
                                    </div>
                                    <small class="text-muted">
                                        Date added:
                                        @photo.DateAdded.ToString("dddd, MMMM dd, yyyy")
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}

