@model podil.ViewModels.UploadPhotoViewModel
@{
    ViewBag.Title = "Add New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload Photo</h2>
@using (Html.BeginForm("Save", "Photos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true, "Please correct highlighted errors.")


    <div clss="form-group">
        @Html.LabelFor(p => p.PhotoFile)
        <input type="file" name="PhotoFile" class="form-control-file" value="Upload Photo" />
        @Html.ValidationMessageFor(p => p.PhotoFile)
    </div>

    <div clss="form-group">
        @Html.LabelFor(p => p.Description)
        @Html.TextBoxFor(p => p.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Description)
    </div>
    <div clss="form-group">
        @Html.LabelFor(p => p.CategoryTypeId)
        @Html.DropDownListFor(p => p.CategoryTypeId,
            new SelectList(Model.CategoryTypes, "Id", "Category"), "Please select a category", new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.CategoryTypeId)
    </div>
    @Html.AntiForgeryToken()
    @Html.HiddenFor(p => p.Id)
    <input type="submit" class="btn btn-primary" value="Upload" />
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}